# Zarf Provider Cluster Admin RBAC
# 
# Zarf needs cluster-admin permissions to deploy any type of Kubernetes resource
# Similar to ArgoCD, Flux, or other GitOps operators that need to manage arbitrary resources
#
# Apply this after the provider is installed to grant full cluster permissions
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: provider-zarf-cluster-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: Group
  name: system:serviceaccounts:crossplane
  apiGroup: rbac.authorization.k8s.io